body {
    font-family:monospace;
}
em {
    font-weight:bold;
}
h1 {
    font-size:1.5em;
    margin-top:0px;
}

ul {
    list-style-type: none;
}

#main-frame {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;

}

#main-frame td {
    vertical-align:top;
}

#left-frame {
    width:75%;
    border: 1px solid black;
}

#cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 19px;
    background-image: url('imgs/cursor.png');
    pointer-events:none;
}

#log {
    width:500px;
}

#debug {
}

#demo-state {
    border-bottom: 1px solid black;
}

#description {
}

#particles-table {
    width:100%;
    border: 1px solid black;
    border-spacing: 0px;
}

#particles-table th {
    border-bottom: 1px solid black;
}

/* Disable text selection on all elements */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#demo {
    text-align: center;
}
#root {
    width: 500px;
    height: 250px;
    cursor: pointer;
}

#demo-state-text-entered {
    display: inline-block;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.particle_snapshot {
    width: 160px;
    height: 80px;
}