body {
    cursor: none;
}
em {
    font-weight:bold;
}
#cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 19px;
    background-image: url('imgs/cursor.png');
}
#canvas {
    position:fixed;
    border-style:solid;
    border-width:1px;
    z-index: -1;

}
#predict {
    color:rgb(0, 0, 255);
}
#measure {
    color:rgb(255, 0, 0);
}
#actual {
    color:rgb(0,255,0);
}
#description {
    float:left;
}
#log, #debug {
    clear:both;
    margin-left:40px;
    font-family:monospace;
}
