body {
    font-family:monospace;
}
em {
    font-weight:bold;
}
h1 {
    font-size:1.5em;
    margin-top:0px;
}

ul {
    list-style-type: none;
}

#main-frame {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    
}

#main-frame td {
    vertical-align:top;
}

#left-frame {
    width:50%;
    background-color: rgb(255,0,0);
}

#right-frame {
    width: 50%;
    background-color: rgb(0,255,0);
}

#log {
    height: 50px;
    background-color: rgb(255, 255, 0);
}

#debug {
    height: 50px;
    background-color: rgb(255, 0, 255);
}

#demo-state {
    height: 50px;
    background-color: rgb(255,255,200);
}

#description {
    background-color: rgb(0, 255, 255);
}

#particles-table {
    width:100%;
    background-color: rgb(0,155,0);
    border-spacing: 0px;
}

#particles-table th {
    border-bottom: 1px solid black;
}

#canvas {
    width: 500px;
    height: 500px;
}