body {
    font-family:monospace;
    cursor: none;
}
em {
    font-weight:bold;
}
h1 {
    font-size:1.5em;
    margin-top:0px;
}

ul {
    list-style-type: none;
}

#main-frame {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    
}

#main-frame td {
    vertical-align:top;
}

#left-frame {
    width:50%;
    border: 1px solid black;
}

#middle-frame {
    
}

#cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 19px;
    background-image: url('imgs/cursor.png');
    pointer-events:none;
}

#log {
    width:500px;
}

#debug {
}

#demo-state {
    border-bottom: 1px solid black;
}

#description {
}

#particles-table {
    width:100%;
    border: 1px solid black;
    border-spacing: 0px;
}

#particles-table th {
    border-bottom: 1px solid black;
}

#canvas {
    width: 500px;
    height: 500px;
}