/* CSS commonly used in julia.js*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Properties for dumping the interactor hierarchy */
.indent-level-0 {
    margin-left: 0px;
}

.indent-level-1 {
    margin-left: 20px;
}
.indent-level-2 {
    margin-left: 40px;
}
.indent-level-3 {
    margin-left: 60px;
}
.indent-level-4 {
    margin-left: 80px;
}
.indent-level-5 {
    margin-left: 100px;
}

.border1px {
    border: 1px solid black;
}

.float-left {
    float: left
}

.float-clear {
    clear:both;
}
.obj-property {
    margin: 0px;
}

/* The alternative interfaces often fall off the screen. Don't add scrollbars if they do */
body.demo {
    overflow: hidden;

}

body {
    font-family: Helvetica;
}
td {
    vertical-align: top;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 24pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.centered {
    font-family: Helvetica, sans-serif;
    font-size: 24pt;
    text-align: center;
    width: 100%;
    margin-top: 20pt;
    margin-bottom: 40pt;
}

/* Demo properties */

svg#touch-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    pointer-events: none;
}

svg#key-overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    pointer-events: none;
}

.ipad_container {
    width: 669px;
    height: 469px;
    margin-left: auto;
    margin-right: auto;
    background: url('imgs/iPadBackground.png');
    position: relative;
}

.ipad_screen {
    width: 546px;
    height: 407px;
    background-color: #ffffff;
    position: absolute;
    left: 53px;
    top: 31px;
}

/* The main interface of the demo */
/* TODO: user SASS or LESS to inherit these properties more elegantly */
#demo_interface {
    /* Inherit from unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    /* Inherit from border 1 px */
    border: 1px solid black;
}
#demo_interface.no-cursor {
    cursor: none;
}

#demo_alternatives svg {
    /* Inherit from border 1 px */
    border: 1px solid black;
}
#demo_description {
    width: 640px;
}

#demo_settings {
    width: 640px;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

/* Test properties */
.test_description {
    width: 500px;
}

.test_interface {
    /* Inherit from unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    /* Inherit from border 1 px */
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

