/* CSS commonly used in julia.js*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Properties for dumping the interactor hierarchy */
.indent-level-0 {
    margin-left: 0px;
}

.indent-level-1 {
    margin-left: 20px;
}
.indent-level-2 {
    margin-left: 40px;
}
.indent-level-3 {
    margin-left: 60px;
}
.indent-level-4 {
    margin-left: 80px;
}
.indent-level-5 {
    margin-left: 100px;
}

.border1px {
    border: 1px solid black;
}

.float-left {
    float: left
}

.obj-property {
    margin: 0px;
}

/* Demo properties */
.demo-description {

}

/* The main interface of the demo */
/* TODO: user SASS or LESS to inherit these properties more elegantly */
.demo-interface {
    /* Inherit from unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    /* Inherit from border 1 px */
    border: 1px solid black;
}
.demo-description {
    width: 500px;
}

/* Test properties */
.test-description {
    width: 500px;
}

.test-interface {
    /* Inherit from unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    /* Inherit from border 1 px */
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

